body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #222;
	color: #ddd;
}
h1 {
	text-align: center;
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.cell{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width:	50px;
	margin: 0;
	padding: 0;
	border: 2px solid black;
}

[data-type="W"]{
	background-color: #000;
}

.box{
	height: 45px;
	width:45px;
	background-image: url("./images/box.jpeg");
	background-position: center;
	background-size: contain;
	
}
/* Full storage */
[data-type="X"]{
	border: 2px dashed yellowgreen; 
}

/* empty storage */
[data-type="O"]{
	border: 2px solid purple; 
}

#gameBoard{
	width: 1000px;
	font-size: 24pt;
	line-height: 2em;
	background-color: #444;
	margin: auto;
	padding: 50px;
}

#buttonContainer{
	display: flex;
	justify-content: center;
	align-items: center;
}

#player {
	background-color: darkgreen;
	height: 40px;
	width: 40px;
}

#winSpan{
	display: flex;
	justify-content: center; 
	font-size: 24pt;
}

#rules{
	display: flex;
	justify-content: center; 
	font-size: 20pt;
}